<?php

define('TVDB_URL', 'http://thetvdb.com');
define('TVDB_API_KEY', 'YOUR API KEY');
define('TVDB_CACHE', __DIR__.'/cache');
define('T411_LOGIN', 'YOUR LOGIN');
define('T411_PASSWORD', 'YOUR PASSWORD');
define('DOWNLOAD_PATH', 'DEFAULT DOWN PATH');

// the connection configuration
$dbParams = array(
    'driver'   => 'pdo_mysql',
    'user'     => 'USER',
    'password' => 'PASSWORD',
    'dbname'   => 'DB NAME',
);
